body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-uniquifier {
  font-family: "Cabin", sans-serif;
}

section {
  overflow-x: hidden;
}

a.dark-blue-btn:hover {
  background: #607684;
  border: 0px !important;
}

a.transparent-btn:hover {
  background: #607684;
  border: 0px;
}

a.navbar-brand img.img-fluid {
  max-width: 142px;
  width: 100%;
}

.container {
  padding-left: 126px !important;
  padding-right: 126px !important;
  max-width: 1920px !important;
}

ul.navbar-nav li.nav-item a.nav-link {
  text-align: left;
  font: normal normal normal 18px / 22px Cabin;
  letter-spacing: 0px;
  font-weight: 400;
  color: #252525;
  opacity: 1;
}

li.nav-item.call-btn a.nav-link span {
  color: #FFFFFF;
  text-align: left;
  font: normal normal normal 18px/22px Cabin;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

/* ul.navbar-nav.list-item-second li.nav-item:hover {
  background: #607684;
  border: 0px !important;
} */

.nav-item.call-btn:hover {
  background: #607684;
  border: 0px !important;
}

nav.navbar.navbar-expand-lg.bg-body-transparent {
  padding: 30px 0px;
}

li.nav-item.call-btn {
  background: #5AB1EC 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 13px 20px;
}

.nav-item.call-btn {
  background: #5AB1EC 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 18px 65px;
  text-align: center;
  font: normal normal normal 18px / 22px Cabin;
  letter-spacing: 0.54px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

ul.navbar-nav li.nav-item {
  margin-right: 30px;
  margin-left: 30px;
}

a.nav-link img.img-fluid {
  width: 23.84px;
  height: 23.2px;
}

ul.navbar-nav.list-item-second a.nav-link {
  margin-right: 20px;
}

ul.navbar-nav.list-item-second li.nav-item {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

ul.navbar-nav.list-item-second {
  margin-left: 100px !important;
}



/* ------------footer---------------- */
span.footer-bottom-conditions {
  text-align: left;
  font: normal normal normal 15px/23px Cabin;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
}

.footer-last-part img.img-fluid {
  max-width: 29.71px;
  height: 16px;
}

.footer-last-part {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

.footer-section {
  background: #607684;
  padding: 80px 0px;
}

.footer-menu a.nav-link {
  text-align: left;
  font: normal normal normal 18px / 22px Cabin;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

span.footer-phone-number a {
  text-align: left;
  font: normal normal normal 25px/30px Cabin;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  margin: 0px !important;
}

span.footer-phone-number {
  margin: 0px !important;
}

.footer-call {
  display: flex;
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-menu a.nav-link {
  text-align: left;
  font: normal normal normal 18px/22px Cabin;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.footer-call img.img-fluid {
  max-width: 50px;
  height: 50px;
}
.footer-3 {
  position: fixed;
  bottom: 0px;
  right: 40px;
}

.footer-3 img.img-fluid {
  width: 80px;
  height: 80px;
}





/* ----------------------------home-page------------------------ */
section#home-1 .carousel-item img.d-block.w-100 {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.blind-curtain .carousel-caption.d-md-block {
  top: 26%;
}

h5.hero-slide-title {
  text-align: center;
  font: normal normal bold 20px/110px Cabin;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

p.hero-slide-content {
  text-align: center;
  font: normal normal normal 90px/110px Antic Didone;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

a.transparent-btn {
  text-align: center;
  font: normal normal normal 18px/22px Cabin;
  letter-spacing: 0.54px;
  color: #FFFFFF;
  text-transform: uppercase;
  /* opacity: 1; */
  text-decoration: none !important;
  border: 1px solid #FFFFFF;
  opacity: 1;
  padding: 24px 30px;
}

a.dark-blue-btn {
  text-align: center;
  font: normal normal normal 18px/22px Cabin;
  letter-spacing: 0.54px;
  color: #FFFFFF;
  border: 0px;
  text-transform: uppercase;
  text-decoration: none !important;
  opacity: 1;
  background-color: #5AB1EC;
  padding: 24px 30px;
}

.discover-btn-hero {
  margin-top: 80px;
}

section#home-5 {
  margin-top: 130px;
}

section#home-1 .carousel-indicators button {
  opacity: 1;
  width: 13px;
  height: 13px;
  border-radius: 100px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0px !important;

}

section#home-1 .carousel-indicators button.active {
  background-color: #5AB1ED;
}

section#home-1 .carousel-indicators {
  position: absolute;
  right: 0px !important;
  top: 2%;
  bottom: 0px;
  left: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin-right: 4% !important;
  margin-bottom: 1rem;
  margin-left: 15%;
}


.blind-curtain1 img.home-about-bg {
  background-position: center;
  background-size: cover;
}

.home-parent-section {
  padding: 150px 150px 60px 150px;
}

h1.home-about-title {
  color: var(--unnamed-color-96a9b5);
  text-align: left;
  font: normal normal normal 70px/80px Antic Didone;
  letter-spacing: 0px;
  color: #96A9B5;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

p.home-about-description {
  text-align: left;
  font: normal normal normal 20px/30px Cabin;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
  padding: 30px 13px 0px 13px;
}

.home-about-section {
  padding-left: 80px;
}

.blue-btn-parent {
  margin-top: 60px;
  padding-left: 15px;
}

.home-material-card {
  background: #D9E2E8;
  text-align: center;
  padding: 0px 60px;
  min-height: 556px;
  position: relative;
  height: 556px;
}

.home-material-card.color-card h5.home-material-title {
  color: #FFFFFF;
}

.home-material-card.color-card p.home-material-description {
  color: #ffff;
}

.color-card {
  background: #D9E2E8;
  text-align: center;
}

h5.home-material-title {
  text-align: center;
  font: normal normal normal 45px/63px Antic Didone;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
}

p.home-material-description {
  text-align: center;
  font: normal normal normal 20px/30px Cabin;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
  padding: 10px 0px 80px 0px;

}

.home-material-card.color-card {
  background: #96A8B5 !important;
}

.material-card-parent {
  padding: 0px !important;
}

.home-material-card img.img-fluid {
  padding: 90px 0px 40px 0px;
}

.blue-bottom-border {
  background: #5AB1EC 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 15px !important;
  width: 410px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);

}


.hover-image {
  position: relative;
  overflow: hidden;
}

.hover-image img {
  transition: transform 0.5s ease;
  overflow: hidden;

}



.hover-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 93%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
}

.hover-image:hover::before {
  opacity: 1;
}

.hover-image .blue-btn-parent {
  display: none;
  position: absolute;
  top: 50%;
  left: 61%;
  width: 100%;
  margin: 0px !important;
  transform: translate(-39%, -50%);
}

.hover-image:hover .blue-btn-parent {
  display: block;
}

.light-bottom-border {
  background: #D8E2E8 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 15px !important;
  width: 410px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
}

h6.product-slider-title {
  color: var(--unnamed-color-96a9b5);
  text-align: center;
  font: normal normal normal 25px/30px Cabin;
  letter-spacing: 0px;
  color: #96A9B5;
  opacity: 1;
  padding: 38px 0px 0px 0px;
}

p.product-slider-price {
  text-align: center;
  font: normal normal normal 20px/30px Cabin;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
}

.home-quality-section {
  padding: 150px 0px 60px 0px;
}

.home-slider {
  padding-top: 80px;
}


.home-contact-section .home-material-description {
  width: 100%;
  margin-left: initial;
  text-align: left;
  color: #FFFFFF;
  max-width: 389px;
}

.home-contact-section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

span.or {
  text-align: left;
  font: normal normal normal 30px / 36px Antic Didone;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.home-quality-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-contact-section1 .footer-call img.img-fluid {
  max-width: 70px;
  height: 70px;
}

.home-contact-section1 .footer-call a {
  text-align: left;
  font: normal normal normal 30px/37px Cabin;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}